[Unit]
Description=WPA Watch
After=wpa_supp.service

[Service]
ExecStart=/usr/sbin/wpa_watch
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
