[Unit]
Description=WPA Supplicant daemon
Before=network.target

[Service]
Type=dbus
BusName=fi.w1.wpa_supplicant1
ExecStart=/usr/sbin/wpa_supplicant -c /etc/wpa_supplicant/wpa_supplicant.conf -u -f /var/log/wpa_supplicant.log -i__DEVICE__

[Install]
WantedBy=multi-user.target
